<!DOCTYPE html>
<html lang="zh_CN" xmlns:th="http://www.thymeleaf.org"
	  xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head th:include="include :: header">

</head>
<body>
	<div id="content">
		<div class="ibox-content">
			<div class="row row-lg">
				<div class="col-sm-4">
					<h4 class="example-title">树菜单</h4>
					<div class="example">
						<Tree :data="treeData"></Tree>
					</div>
				</div>
				<div class="col-sm-8">
					<div class="ibox">
						<div class="ibox-body table-responsive">
							<div class="fixed-table-toolbar">
								<div class="columns pull-left">
									<button shiro:hasPermission="sys:user:add" type="button"
											class="btn  btn-primary" onclick="add()">
										<i class="fa fa-plus hidden" aria-hidden="true"></i>添加
									</button>
									<button shiro:hasPermission="sys:user:batchRemove" type="button"
											class="btn  btn-danger" onclick="batchRemove()">
										<i class="fa fa-trash hidden" aria-hidden="true"></i>删除
									</button>
								</div>
							</div>
							<table id="tableId" data-mobile-responsive="true"></table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div th:include="include::footer"></div>
	<script th:src="@{/js/component/table.js}"></script>
<script>
    new Vue({
        el: '#content',
        computed:{
            // 表格的操作事件
            tableHandler() {
                return {

				}
            }
		},
		mounted (){
			this.init();
			this.initTable();
		},
        data: {
            columns: [
                {field: 'selectItem', checkbox: true},
                {title: 'id', field: 'id', visible: false},
                {title: 'parent_id', field: 'parentId', visible: false},
                {title: '名称', field: 'name', align: 'center', valign: 'middle', sortable: false},
                {title: '授权', field: 'permission', align: 'center', valign: 'middle', sortable: false},
                {title: '访问路径', field: 'url', align: 'center', valign: 'middle', sortable: false},
                {title: '节点类型', field: 'type', align: 'center', valign: 'middle', sortable: false},
                {title: '排序号', field: 'sortNo', align: 'center', valign: 'middle', sortable: true},
                {title: '图标', field: 'icon', align: 'center', valign: 'middle', sortable: false},
                {title: '是否启用', field: 'isEnable', align: 'center', valign: 'middle', sortable: false},
                {title: '操作', align: 'center', valign: 'middle',
					formatter: function (value, row, index) {
						return '<span class="label label-primary">待领取</span>';
				}},
            ],
            treeData: '',
			tableUrl: '/sys/permission/list',
        },
        methods: {
			init() {
				this.treeData = [
                    {title: 'parent 1', expand: true,
                        children: [
                            {title: 'parent 1-1', expand: true,
                                children: [{title: 'leaf 1-1-1'}, {title: 'leaf 1-1-2'}]
                            },
                            {title: 'parent 1-2', expand: true,
                                children: [{title: 'leaf 1-2-1'}, {title: 'leaf 1-2-1'}]
                            }
                        ]
                    }
                ];
			},
			initTable(){
                var table = new BSTable("tableId", this.tableUrl, this.columns);
                table.init();
			},
			save(){
                this.$Message.success('你点击了新增按钮');
			},
			delete(){
                this.$Message.success('你点击了删除按钮');
			},
        }
    })
</script>
</body>
</html>