<!DOCTYPE html>
<html lang="zh_CN" xmlns:th="http://www.thymeleaf.org"
	  xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head th:include="include :: header">

</head>
<body>
	<div id="content">
		<div class="ibox-content">
			<div class="row row-lg">
				<div class="col-sm-4">
					<h4 class="example-title">树菜单</h4>
					<div class="example">
						<Tree :data="treeData"></Tree>
					</div>
				</div>
				<div class="col-sm-8 example-demo">
					<i-button class="ivu-btn" @click="save">新增</i-button>
					<div class="ivu-table-wrapper">
						<i-table border highlight-row :loading="loading" size="small" :columns="columns" :data="tableData"></i-table>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div th:include="include::footer"></div>
<script>
    new Vue({
        el: '#content',
		mounted (){
			this.init();
		},
        data: {
            loading: false,
            tableData: [
                {id: 1, name: 'iPhone X', permission: 8300.05, url: 1,type: 1,sort_no: 1,icon : 1,is_enable: 1}
            ],
            columns: [
                {type: 'selection', width: 60, align: 'center',fixed: 'left'},
                {title: '名称', key: 'name',fixed: 'left',align: 'center'},
                {title: '授权', key: 'permission',align: 'center'},
                {title: '访问路径', key: 'url',align: 'center'},
                {title: '节点类型', key: 'type',align: 'center'},
                {title: '排序号', key: 'sort_no',align: 'center'},
                {title: '图标', key: 'icon',align: 'center'},
                {title: '是否启用', key: 'is_enable',align: 'center'}
            ],
            treeData: '',
        },
        methods: {
			init() {
				this.treeData = [
                    {title: 'parent 1', expand: true,
                        children: [
                            {title: 'parent 1-1', expand: true,
                                children: [{title: 'leaf 1-1-1'}, {title: 'leaf 1-1-2'}]
                            },
                            {title: 'parent 1-2', expand: true,
                                children: [{title: 'leaf 1-2-1'}, {title: 'leaf 1-2-1'}]
                            }
                        ]
                    }
                ];
			},
			save(){
                this.$Message.success('你点击了新增按钮');
			},
			delete(){
                this.$Message.success('你点击了删除按钮');
			}
        }
    })
</script>
</body>
</html>