<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.troyboot.java.system.dao.SysOrgMapper">
  <resultMap id="BaseResultMap" type="com.troyboot.java.system.po.SysOrg">
    <constructor>
      <idArg column="id" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="name" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="parent_id" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="cascade_id" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="is_expanded" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="sort_no" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="create_by" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="create_time" javaType="java.util.Date" jdbcType="TIMESTAMP" />
      <arg column="remark" javaType="java.lang.String" jdbcType="VARCHAR" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List">
    id, name, parent_id, cascade_id, is_expanded, sort_no, create_by, create_time, remark
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from sys_org
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from sys_org
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.troyboot.java.system.po.SysOrg">
    insert into sys_org (id, name, parent_id, 
      cascade_id, is_expanded, sort_no, 
      create_by, create_time, remark
      )
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{parent_id,jdbcType=INTEGER}, 
      #{cascade_id,jdbcType=VARCHAR}, #{is_expanded,jdbcType=VARCHAR}, #{sort_no,jdbcType=INTEGER}, 
      #{create_by,jdbcType=VARCHAR}, #{create_time,jdbcType=TIMESTAMP}, #{remark,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.troyboot.java.system.po.SysOrg">
    insert into sys_org
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="parent_id != null">
        parent_id,
      </if>
      <if test="cascade_id != null">
        cascade_id,
      </if>
      <if test="is_expanded != null">
        is_expanded,
      </if>
      <if test="sort_no != null">
        sort_no,
      </if>
      <if test="create_by != null">
        create_by,
      </if>
      <if test="create_time != null">
        create_time,
      </if>
      <if test="remark != null">
        remark,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="parent_id != null">
        #{parent_id,jdbcType=INTEGER},
      </if>
      <if test="cascade_id != null">
        #{cascade_id,jdbcType=VARCHAR},
      </if>
      <if test="is_expanded != null">
        #{is_expanded,jdbcType=VARCHAR},
      </if>
      <if test="sort_no != null">
        #{sort_no,jdbcType=INTEGER},
      </if>
      <if test="create_by != null">
        #{create_by,jdbcType=VARCHAR},
      </if>
      <if test="create_time != null">
        #{create_time,jdbcType=TIMESTAMP},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.troyboot.java.system.po.SysOrg">
    update sys_org
    <set>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="parent_id != null">
        parent_id = #{parent_id,jdbcType=INTEGER},
      </if>
      <if test="cascade_id != null">
        cascade_id = #{cascade_id,jdbcType=VARCHAR},
      </if>
      <if test="is_expanded != null">
        is_expanded = #{is_expanded,jdbcType=VARCHAR},
      </if>
      <if test="sort_no != null">
        sort_no = #{sort_no,jdbcType=INTEGER},
      </if>
      <if test="create_by != null">
        create_by = #{create_by,jdbcType=VARCHAR},
      </if>
      <if test="create_time != null">
        create_time = #{create_time,jdbcType=TIMESTAMP},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.troyboot.java.system.po.SysOrg">
    update sys_org
    set name = #{name,jdbcType=VARCHAR},
      parent_id = #{parent_id,jdbcType=INTEGER},
      cascade_id = #{cascade_id,jdbcType=VARCHAR},
      is_expanded = #{is_expanded,jdbcType=VARCHAR},
      sort_no = #{sort_no,jdbcType=INTEGER},
      create_by = #{create_by,jdbcType=VARCHAR},
      create_time = #{create_time,jdbcType=TIMESTAMP},
      remark = #{remark,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>