<!DOCTYPE html>
<html lang="zh_CN" xmlns:th="http://www.thymeleaf.org"
      xmlns:shiro="http://www.pollix.at/thymeleaf/shiro" xmlns:v-on="http://www.w3.org/1999/xhtml">
<head th:include="include :: header">
</head>
<body>
<div id="content">
    <div class="ibox-content">
        <div class="row row-lg">
            <div class="col-sm-4 media mt-3">
                <h4 class="example-title">组织机构树</h4>
                <div class="example">
                    <tree :url="treeUrl"></tree>
                </div>
            </div>
            <div class="col-sm-8">
                <div class="fixed-table-toolbar">
                    <div class="columns pull-left">
                        <i-button type="primary" @click="add">添加</i-button>
                        <i-button type="warning" @click="batchRemove('tablePage')">删除</i-button>
                    </div>
                </div>
                <div class="ibox">
                    <div class="ibox-body table-responsive">
                        <table-page ref="tablePage" :url="tableUrl" :columns="columns"></table-page>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<div th:include="include::footer"></div>
<script>
    new Vue({
        el: '#content',
        data() {
            return {
                columns: [
                    {type: 'selection', align: 'center', width: 60},
                    {title: '机构名称', key: 'name', align: 'center'},
                    {title: '是否展开', key: 'is_expanded', align: 'center'},
                    {title: '创建人', key: 'create_by', align: 'center'},
                    {title: '创建时间', key: 'create_time', align: 'center'},
                    {title: '排序号', key: 'sort_no', align: 'center'},
                    {
                        title: '操作', key: 'action', width: 100, align: 'center',
                        render: (h, params) => {
                            return h('div', [
                                h('i-button', {
                                    props: {type: 'primary', size: 'small'},
                                    style: {
                                        marginRight: '5px'
                                    },
                                    on: {
                                        click: () => {
                                            this.edit(params.row)
                                        }
                                    }
                                }, '修改')
                            ]);
                        }
                    }
                ],
                // 表格信息
                tableUrl: '/sys/org/list',
                // 树信息
                treeUrl: '/sys/org/orgTree',
            }
        },
        computed:{

        },
        methods: {
            refreshTable(){
                this.$refs['tablePage'].loadData();
            },
            // 新增按钮
            add() {
                this.refreshTable();
            },
            // 批量删除按钮
            batchRemove(name) {
                let self = this;
                let selRows = self.$refs[name].selectRows;
                if(!_.isEmpty(selRows)){
                    let delWarningMsg = "确定删除【"+ selRows.length +"】条记录吗？";
                    this.$Modal.confirm({
                        title: '删除权限',
                        content: delWarningMsg,
                        onOk: function(){
                            this.$Message.success('删除成功！');
                            self.refreshTable();
                        },
                        onCancel: function(){}
                    });
                }else {
                    this.$Message.info({
                        content: '请选择删除内容',
                        duration: 2,
                        closable: true
                    });
                }
            },
            // 编辑按钮
            edit(row){
                console.log(row);
                this.refreshTable();
            },
        }
    })
</script>
</body>
</html>