<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.troyboot.java.system.service.dao.SysPermissionDao">

  <select id="getAll" resultMap="com.troyboot.java.system.po.SysPermission">
    select *
    from sys_permission
    <where>
      <choose>
        <when test="sort_no != null and sort_no.trim() != ''">
          order by ${sort_no}
        </when>
        <otherwise>
          order by id desc
        </otherwise>
      </choose>
      <if test="start != null and limit != null">
        limit #{start}, #{limit}
      </if>
    </where>
  </select>

</mapper>