<!DOCTYPE HTML>
<html lang="zh_CN" xmlns:th="http://www.thymeleaf.org">
<head th:include="include :: header">
</head>
<body>
    <div id="content">
        <div class="ibox-content">
            <div class="middle-box text-center loginscreen animated fadeInDown">
                <div>
                    <h1 class="logo-name">T-B</h1>
                </div>
                <i-form ref="loginForm" :model="formItem" :rules="rules">
                    <form-item prop="account">
                        <i-input type="text" v-model="formItem.account" placeholder="用户名">
                            <Icon type="ios-person" slot="prepend"></Icon>
                        </i-input>
                    </form-item>
                    <form-item prop="password">
                        <i-input type="password" v-model="formItem.password" placeholder="密码">
                            <Icon type="ios-lock"  slot="prepend"></Icon>
                        </i-input>
                    </form-item>
                    <form-item>
                        <i-button type="primary" @click="handleSubmit('loginForm')" long>登 录</i-button>
                    </form-item>
                </i-form>
                <div class="signup-footer">
                    <div class="pull-left">
                        <a href="https://www.jianshu.com/u/e6a66325d869" target="_blank">&copy; OrangeHi Company All Rights Reserved.</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div th:include="include::footer"></div>

<script type="text/javascript">
    new Vue({
        el: '#content',
        data: {
            formItem: {
                account: '',
                password: ''
            },
            rules: {
                account: [
                    {required: true, message: '请填写用户名', trigger: 'blur'}
                ],
                password: [
                    {required: true, message: '请填写密码', trigger: 'blur'},
                    {type: 'string', min: 6, message: '密码长度不能少于6位', trigger: 'blur'}
                ]
            }
        },
        computed: {

        },
        methods: {
            handleSubmit: function() {
                var _this = this;
                this.$refs.loginForm.validate(function(valid) {
                    if (valid) {
                        $.ajax({
                            type : 'post',
                            url : Global.baseUrl + '/login',
                            data : _this.formItem,
                            success : function(outMsg) {
                                console.log(outMsg);
                                if (outMsg.code == '1') {
                                    parent.location.href = Global.baseUrl + '/index';
                                } else {
                                    _this.$Message.error(outMsg.msg);
                                }
                            }
                        });
                    } else {
                        _this.$Message.error('Fail!');
                    }
                })
            }
        }
    })
</script>
</body>
</html>
